.m-6 {
  margin: 4rem!important;
}

.m-7 {
  margin: 5rem!important;
}

.m-8 {
  margin: 6rem!important;
}

.mx-6 {
  margin-right: 4rem!important;
  margin-left: 4rem!important;
}

.mx-7 {
  margin-right: 5rem!important;
  margin-left: 5rem!important;
}

.mx-8 {
  margin-right: 6rem!important;
  margin-left: 6rem!important;
}

.my-6 {
  margin-top: 4rem!important;
  margin-bottom: 4rem!important;
}

.my-7 {
  margin-top: 5rem!important;
  margin-bottom: 5rem!important;
}

.my-8 {
  margin-top: 6rem!important;
  margin-bottom: 6rem!important;
}

.mt-6 {
  margin-top: 4rem!important;
}

.me-5 {
  margin-right: 4rem!important;
}

.mt-7 {
  margin-top: 5rem!important;
}

.me-5 {
  margin-right: 5rem!important;
}

.mt-8 {
  margin-top: 6rem!important;
}

.me-5 {
  margin-right: 6rem!important;
}

.mb-6 {
  margin-bottom: 4rem!important;
}

.mb-7 {
  margin-bottom: 5rem!important;
}

.mb-8 {
  margin-bottom: 6rem!important;
}

.ms-6 {
  margin-left: 4rem!important;
}

.ms-7 {
  margin-left: 5rem!important;
}

.ms-8 {
  margin-left: 6rem!important;
}

.p-6 {
  padding: 4rem!important;
}

.p-7 {
  padding: 5rem!important;
}

.p-8 {
  padding: 6rem!important;
}

.px-6 {
  padding-right: 4rem!important;
  padding-left: 4rem!important;
}

.px-7 {
  padding-right: 5rem!important;
  padding-left: 5rem!important;
}

.px-8 {
  padding-right: 6rem!important;
  padding-left: 6rem!important;
}

.py-6 {
  padding-top: 4rem!important;
  padding-bottom: 4rem!important;
}

.py-7 {
  padding-top: 5rem!important;
  padding-bottom: 5rem!important;
}

.py-8 {
  padding-top: 6rem!important;
  padding-bottom: 6rem!important;
}

.pt-6 {
  padding-top: 4rem!important;
}

.pt-7 {
  padding-top: 5rem!important;
}

.pt-8 {
  padding-top: 6rem!important;
}

.pe-6 {
  padding-right: 4rem!important;
}

.pe-7 {
  padding-right: 5rem!important;
}

.pe-8 {
  padding-right: 6rem!important;
}

.pb-6 {
  padding-bottom: 4rem!important;
}

.pb-7 {
  padding-bottom: 5rem!important;
}

.pb-8 {
  padding-bottom: 6rem!important;
}

.ps-6 {
  padding-left: 4rem!important;
}

.ps-7 {
  padding-left: 5rem!important;
}

.ps-8 {
  padding-left: 6rem!important;
}

.fs-0 {
  font-size: calc(1.375rem + 1.5vw)!important;
}

@media (min-width:1200px) {
  .fs-0 {
    font-size: 6rem!important;
  }
}

.text-info {
  color: #5345e3!important;
}

